<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Movies</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'movies/css/master.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a href="{% url 'home' %}"><button type="button" class='btn btn-outline-success my-2 my-sm-0 mr-sm-2'>CRUD Movies</button></a>
        {% if user.is_authenticated %}
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"> <a class="nav-link" href="#"><button type="button" class="btn btn-outline-info">All Movies</button></a></li>
            <li class="nav-item"> <a class="nav-link" href="#"><button type="button" class="btn btn-outline-info">Add Movie</button></a></li>
          </ul>
          <a href="{% url 'accounts:logout' %}"><button type="button" class="btn btn-outline-danger">Log Out</button></a>
        {% else %}
          <ul class="navbar-nav mr-auto"></ul>
          <a href="{% url 'accounts:login' %}"><button type="button" class="btn btn-outline-primary my-2 my-sm-0 mr-sm-2">Log In</button></a>
          <a href="{% url 'accounts:signup' %}"><button type="button" class="btn btn-outline-danger">Sign Up</button></a>
        {% endif %}
      </div>
    </nav>
    <div class="container">
      <p></p>
      {% block content %}

      {% endblock %}
    </div>
    <canvas id="canvas"></canvas>
    
  </body>
  <script type="text/javascript" src="{% static 'movies/js/master.js' %}"></script>
</html>
