{% extends "base.html" %}

{% block content %}

<div class="accordion" id="accordionExec">
  {% for movie in movies_list %}
    <div class="card border-info">
      <div class="card-header border-warning" id="heading{{movie.pk}}">
        <form>
          <div class="form-inline">
            <h2 class="mb-0 col-sm-8">
              <button class="btn btn-link text-info" type="button" data-toggle="collapse" data-target="#collapse{{movie.pk}}" aria-expanded="false" aria-controls="collapse{{movie.pk}}">
                {{ movie.name }}
              </button>
            </h2>
            <div class="col-sm-1 mb-1">
            </div>
          </div>
        </form>
      </div>
      <div id="collapse{{movie.pk}}" class="collapse" aria-labelledby="heading{{movie.pk}}" data-parent="#accordionExec">
        <div class="card-body text-info">
          <form>
            <div class="form-inline">
              <div class="col-sm-9">
                {{ movie.description }}
              </div>
              <div class="col-sm-1 mb-1">
                <a href="{% url 'crud_app:detail' pk=movie.pk %}" title="detail" class="btn btn-outline-success btn-sm">
                  Detail
                </a>
              </div>
              <div class="col-sm-1 mb-1">
                <a href="{% url 'crud_app:movie_edit' pk=movie.pk %}" title="update" class="btn btn-outline-primary btn-sm">
                  Update
                </a>
              </div>
              <div class="col-sm-1 mb-1">
                <a href="{% url 'crud_app:delete' pk=movie.pk %}" title="delete" class="btn btn-outline-danger btn-sm">
                  Delete
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
