{% extends "base.html" %}

{% block content %}

<h1>
  <div class="big-title">
    Create a new movie
  </div>
</h1>
<form class='big-form' action="{% url 'crud_app:create' %}" method="POST">
  {% csrf_token %}
  <input type="text" name='name' class='register-input' id="id_name" placeholder="Name">
  <textarea name="description" id="id_description" placeholder="Description" rows="8" cols="80"></textarea>
  <input type="text" name='gener' class='register-input' id="id_gener" placeholder="Gener">
  <input type="text" name='director' class='register-input' id="id_director" placeholder="Director">
  <input type="submit" value="Add" class='register-button' class="btn btn-primary btn-large">
</form>

{% endblock %}
